<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frontend Mentor | Crowdfunding product page</title>
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon-32x32.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/style.css" />
  </head>
  <body>
    <header>
      <nav id="navigation" class="navbar">
        <div v-bind:class="{'overlay': isOpen}">
          <div class="container">
            <a href="#" class="navbar__brand">
              <img src="./assets/images/logo.svg" alt="crowdfund logo">
            </a>
            <button class="navbar__toggler" type="button" aria-controls="navbarContent"
              v-bind:aria-expanded="isOpen.toString()" aria-label="Toggle navigation"
              v-on:click.prevent="isOpen = !isOpen">
              <span class="navbar__toggler-icon"></span>
            </button>
          </div>
          <div id="navbarContent" class="menu" v-bind:class="{'hidden': !isOpen}">
            <a class="menu__item" href="#">About</a>
            <a class="menu__item" href="#">Discover</a>
            <a class="menu__item" href="#">Get Started</a>
          </div>
        </div>
      </nav>
    </header>
    <main id="main" class="content">
      <section class="project">
        <div class="project__logo">
          <img src="./assets/images/logo-mastercraft.svg" alt="Mastercraft logo">
        </div>
        <h1 class="project__name text-center">
          Mastercraft Bamboo Monitor Riser
        </h1>
        <p class="project__short-description text-center">
          A beautiful & handcrafted monitor stand to reduce neck and eye strain.
        </p>
        <div class="project__actions">
          <button v-on:click="openPledgeModal()" type="button" class="button button__primary project__back-this">
            Back this project
          </button>
          <button v-on:click="setBookmark()" v-bind:class="{ 'bookmarked': bookmarked }"
            class="button button__bookmark project__bookmark" type="button">
            <svg width="56" height="56" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <circle class="bookmark-icon__circle-fill" cx="28" cy="28" r="28" />
                <path class="bookmark-icon__path-fill" d="M23 19v18l5-5.058L33 37V19z" />
              </g>
            </svg>
            <span v-text="bookmark_label" class="bookmark-label"></span>
          </button>
        </div>
      </section>
      <section class="project__stats">
        <div class="project__stats-funding-status">
          <span
            v-text="new Intl.NumberFormat('en-US', {style: 'currency', currency: 'USD', minimumFractionDigits: 0}).format(amountRaised)"
            class="highlight">$89,914</span> of $100,000 backed
        </div>
        <div class="project__stats-backers">
          <span v-text="totalBackers.toLocaleString()" class="highlight">5,007</span> total backers
        </div>
        <div class="project__stats-days-left">
          <span v-text="daysLeft.toLocaleString()" class="highlight">56</span> days left
        </div>
        <div class="project__stats-funding-progress">
          <progress max="100000" v-bind:value="amountRaised"></progress>
        </div>
      </section>
      <section class="project__details">
        <h2 class="project__about">About this project</h2>
        <p>
          The Mastercraft Bamboo Monitor Riser is a sturdy and stylish platform that elevates your screen
          to a more comfortable viewing height. Placing your monitor at eye level has the potential to improve
          your posture and make you more comfortable while at work, helping you stay focused on the task at hand.
        </p>
        <p>
          Featuring artisan craftsmanship, the simplicity of design creates extra desk space below your computer
          to allow notepads, pens, and USB sticks to be stored under the stand.
        </p>
        <div v-bind:class="{'card--disabled': remainingBambooStands === 0}" class="card">
          <div class="card__header">
            <h3 class="card__title">Bamboo Stand</h3>
            <p class="pledge-recommendation">Pledge $25 or more</p>
          </div>
          <div class="card__body">
            <p class="card__text">
              You get an ergonomic stand made of natural bamboo. You've helped us launch our
              promotional campaign, and you’ll be added to a special Backer member list.
            </p>
          </div>
          <div class="card__footer">
            <div class="quantity-remaining"><span v-text="remainingBambooStands.toLocaleString()"
                class="highlight">101</span> left</div>
            <button v-on:click="openPledgeModal('bamboo-stand')" v-bind:disabled="remainingBambooStands === 0"
              v-text="remainingBambooStands === 0 ? 'Out of stock' : 'Select Reward'"
              v-bind:class="remainingBambooStands === 0 ? 'button__secondary' : 'button__primary'" type="button"
              class="button button__primary pledge-action">Select Reward</button>
          </div>
        </div>
        <div v-bind:class="{'card--disabled': remainingBlackEdition === 0}" class="card">
          <div class="card__header">
            <h3 class="card__title">Black Edition Stand</h3>
            <p class="pledge-recommendation">Pledge $75 or more</p>
          </div>
          <div class="card__body">
            <p class="card__text">
              You get a Black Special Edition computer stand and a personal thank you. You’ll be
              added to our Backer member list. Shipping is included.
            </p>
          </div>
          <div class="card__footer">
            <div class="quantity-remaining">
              <span v-text="remainingBlackEdition.toLocaleString()" class="highlight">64</span>
              left
            </div>
            <button v-on:click="openPledgeModal('black-edition')" v-bind:disabled="remainingBlackEdition === 0"
              v-text="remainingBlackEdition === 0 ? 'Out of stock' : 'Select Reward'"
              v-bind:class="remainingBlackEdition === 0 ? 'button__secondary' : 'button__primary'" type="button"
              class="button pledge-action">
              Select Reward
            </button>
          </div>
        </div>
        <div class="card" v-bind:class="{'card--disabled': remainingMahogany === 0}">
          <div class="card__header">
            <h3 class="card__title">Mahogany Special Edition</h3>
            <p class="pledge-recommendation">
              Pledge $200 or more
            </p>
          </div>
          <div class="card__body">
            <p class="card__text">
              You get two Special Edition Mahogany stands, a Backer T-Shirt, and a personal thank
              you. You’ll be added to our Backer member list. Shipping is included.
            </p>
          </div>
          <div class="card__footer">
            <div class="quantity-remaining">
              <span v-text="remainingMahogany.toLocaleString()" class="highlight">0</span>
              left
            </div>
            <button v-on:click="openPledgeModal('mahogany')" v-bind:disabled="remainingMahogany === 0"
              v-text="remainingMahogany === 0 ? 'Out of stock' : 'Select Reward'"
              v-bind:class="remainingMahogany === 0 ? 'button__secondary' : 'button__primary'" type="button"
              class="button pledge-action">
              Select Reward
            </button>
          </div>
        </div>
      </section>
      <!-- Selection modal start -->
      <div v-show="isPledgeModalOpen()" v-cloak class="modal">
        <div class="modal__overlay">
          <div class="modal__container pledge-modal">
            <div class="modal__content">
              <div class="modal__heading">
                <h2>Back this project</h2>
                <button v-on:click="closePledgeModal()" class="modal__close" type="button" aria-label="Close modal">
                  <svg class="modal__close-icon" width="15" height="15" xmlns="http://www.w3.org/2000/svg">
                    <path class="modal__close-icon--path"
                      d="M11.314 0l2.828 2.828L9.9 7.071l4.243 4.243-2.828 2.828L7.07 9.9l-4.243 4.243L0 11.314 4.242 7.07 0 2.828 2.828 0l4.243 4.242L11.314 0z"
                      fill-rule="evenodd" />
                  </svg>
                </button>
              </div>
              <p>Want to support us in bringing Mastercraft Bamboo Monitor Riser out in the world?</p>
              <div class="form__card">
                <div class="form__control">
                  <label class="radio radio-before" for="pledgeNoReward">
                    <span class="radio__input">
                      <input v-model="pledgeChoice" v-on:click="pledgeAmount = 0" type="radio" value="no-reward"
                        class="form__radio-input" name="pledge" id="pledgeNoReward">
                      <span class="radio__control"></span>
                    </span>
                    <span class="radio__label text-bold text-black">
                      Pledge with no reward
                    </span>
                  </label>
                </div>
                <p class="form__text">
                  Choose to support us without a reward if you simply believe
                  in our project. As a backer, you will be signed up to receive
                  product updates via email.
                </p>
                <div v-bind:class="{'show': pledgeChoice === 'no-reward'}" class="form__control selected-pledge">
                  <div class="pledge__control">
                    <button v-on:click="handlePledge()" ref="no-reward" type="button" class="button button__primary">
                      Continue
                    </button>
                  </div>
                </div>
              </div>
              <div class="form__card"
                v-bind:class="{'selected': pledgeChoice === 'bamboo-stand', 'form__card--disabled': remainingBambooStands === 0}">
                <div class="form__control">
                  <label class="radio radio-before" for="pledgeBamboo">
                    <span class="radio__input">
                      <input v-model="pledgeChoice" v-bind:disabled="remainingBambooStands === 0"
                        v-on:click="pledgeAmount = 25" value="bamboo-stand" type="radio" class="form__radio-input"
                        name="pledge" id="pledgeBamboo">
                      <span class="radio__control"></span>
                    </span>
                    <span class="radio__label">
                      <span class="text-bold text-black">
                        Bamboo Stand
                      </span>
                      <span class="pledge-recommendation">
                        Pledge $25 or more
                      </span>
                    </span>
                  </label>
                </div>
                <p class="form__text">
                  You get an ergonomic stand made of natural bamboo. You've
                  helped us launch our promotional campaign, and you’ll be
                  added to a special Backer member list.
                </p>
                <div class="quantity-remaining">
                  <span v-text="remainingBambooStands.toLocaleString()" class="highlight">101</span> left
                </div>
                <div v-bind:class="{'show': pledgeChoice === 'bamboo-stand'}" ref="bamboo-stand" class="form__control selected-pledge">
                  <label class="form__input-label" for="pledgeBambooAmount">
                    Enter your pledge
                  </label>
                  <div class="pledge__control">
                    <div class="input-group">
                      <span class="input-group-text">$</span>
                      <input v-model.number="pledgeAmount" v-bind:disabled="remainingBambooStands === 0" class="input"
                        type="text" value="25" name="pledge-amount" class="form__control" id="pledgeBambooAmount">
                    </div>
                    <button v-on:click="handlePledge()" type="button" class="button button__primary">
                      Continue
                    </button>
                  </div>
                </div>
              </div>
              <div class="form__card"
                v-bind:class="{'selected': pledgeChoice === 'black-edition', 'form__card--disabled': remainingBlackEdition === 0}">
                <div class="form__control">
                  <label class="radio radio-before" for="pledgeBlackEdition">
                    <span class="radio__input">
                      <input v-model="pledgeChoice" v-bind:disabled="remainingBlackEdition === 0"
                        v-on:click="pledgeAmount = 75" value="black-edition" type="radio" class="form__radio-input"
                        id="pledgeBlackEdition" name="pledge">
                      <span class="radio__control"></span>
                    </span>
                    <span class="radio__label">
                      <span class="text-bold text-black">
                        Black Edition Stand
                      </span>
                      <span class="pledge-recommendation">
                        Pledge $75 or more
                      </span>
                    </span>
                  </label>
                </div>
                <p class="form__text">
                  You get a Black Special Edition computer stand and a
                  personal thank you. You’ll be added to our Backer
                  member list. Shipping is included.
                </p>
                <div class="quantity-remaining">
                  <span v-text="remainingBlackEdition.toLocaleString()" class="highlight">64</span> left
                </div>
                <div v-bind:class="{'show': pledgeChoice === 'black-edition'}" ref="black-edition"
                  class="form__control selected-pledge">
                  <label class="form__input-label" for="pledgeBlkEditAmount">
                    Enter your pledge
                  </label>
                  <div class="pledge__control">
                    <div class="input-group">
                      <span class="input-group-text">$</span>
                      <input v-model.number="pledgeAmount" v-bind:disabled="remainingBlackEdition === 0" class="input"
                        type="text" value="75" name="pledge-amount" class="form__control" id="pledgeBlkEditAmount">
                    </div>
                    <button v-on:click="handlePledge()" type="button" class="button button__primary">
                      Continue
                    </button>
                  </div>
                </div>
              </div>
              <div class="form__card"
                v-bind:class="{'selected': pledgeChoice === 'mahogany', 'form__card--disabled': remainingMahogany === 0}">
                <div class="form__control">
                  <label class="radio radio-before" for="pledgeMahogany">
                    <span class="radio__input">
                      <input v-model="pledgeChoice" v-on:click="pledgeAmount = 200"
                        v-bind:disabled="remainingMahogany === 0" value="mahogany" type="radio"
                        class="form__radio-input" id="pledgeMahogany" name="pledge">
                      <span class="radio__control"></span>
                    </span>
                    <span class="radio__label">
                      <span class="text-bold text-black">
                        Mahogany Special Edition
                      </span>
                      <span class="pledge-recommendation">
                        Pledge $200 or more
                      </span>
                    </span>
                  </label>
                </div>
                <p class="form__text">
                  You get two Special Edition Mahogany stands, a Backer
                  T-Shirt, and a personal thank you. You’ll be added
                  to our Backer member list. Shipping is included.
                </p>
                <div class="quantity-remaining">
                  <span v-text="remainingMahogany.toLocaleString()" class="highlight">0</span> left
                </div>
                <div v-bind:class="{'show': pledgeChoice === 'mahogany'}" ref="mahogany" class="form__control selected-pledge">
                  <label class="form__input-label" for="pledgeMahoganyAmount">
                    Enter your pledge
                  </label>
                  <div class="pledge__control">
                    <div class="input-group">
                      <span class="input-group-text">$</span>
                      <input v-model.number="pledgeAmount" v-bind:disabled="remainingMahogany === 0" class="input"
                        type="text" value="200" name="pledge-amount" class="form__control" id="pledgeMahoganyAmount">
                    </div>
                    <button v-on:click="handlePledge()" type="button" class="button button__primary">
                      Continue
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Selection modal end -->
      <!-- Success modal start -->
      <div v-show="isThanksModalOpen()" v-cloak class="modal">
        <div class="modal__overlay">
          <div class="modal__container thankyou-modal">
            <div class="modal__content">
              <div class="complete-image"></div>
              <h2>Thanks for your support!</h2>
              <p class="text-center">Your pledge brings us one step closer to sharing Mastercraft Bamboo Monitor
                Riser
                worldwide. You will get
                an email once our campaign is completed.</p>
              <button ref="thankyou_modal" v-on:click="closeThanksModal()" type="button" class="button button__primary flex-center">
                Got it!
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Success modal end -->
    </main>
    <footer class="attribution">
      Challenge by
      <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. Coded by <a
        href="https://www.richardcyrus.com">Richard Cyrus</a>.
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="./assets/js/app.js"></script>
  </body>
</html>
