/*#region Modern CSS Reset*/
/*
 * Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
 */
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests
  * default styling will be removed
  */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*#endregion*/
:root {
  --border-radius-button: 2.09375rem;
  --border-radius-default: 0.5em;
  --color-neutral-black: #000000;
  --color-neutral-dark-gray: #7a7a7a;
  --color-neutral-light-gray: #b1b1b1;
  --color-neutral-very-dark-gray: #2f2f2f;
  --color-primary-dark-cyan: #147a73;
  --color-primary-moderate-cyan: #3cb3ab;
  --font-family-commissioner: "Commissioner", sans-serif;
  --font-size-h1: 1.25rem;
  --font-size-h2: 1.125rem;
  --font-size-h3: 0.875rem;
  --font-size-text: 0.875rem;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
}

/*#region Attribution*/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

/*#endregion*/
/*#region Base Styles*/
body {
  background-color: #fafafa;
  color: var(--color-neutral-dark-gray);
  font-family: var(--font-family-commissioner);
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-neutral-black);
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

section {
  background-color: #ffffff;
  border-radius: var(--border-radius-default);
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin: 1.5rem;
  padding: 1.5rem;
}

p {
  margin-top: 1.5em;
}

.text-center {
  text-align: center;
}

.button {
  border: none;
  border-radius: var(--border-radius-button);
  color: #ffffff;
  display: inline-block;
  font-weight: var(--font-weight-bold);
  text-align: center;
  text-decoration: none;
}

.button__primary,
.button__secondary {
  min-height: 3rem;
  min-width: 9.8125rem;
  padding: 1rem 2rem;
}

.button__primary {
  background: var(--color-primary-moderate-cyan);
}
.button__primary:hover, .button__primary:focus {
  background: var(--color-primary-dark-cyan);
}

.button__secondary {
  background: var(--color-neutral-dark-gray);
}
.button__secondary:hover, .button__secondary:focus {
  background: var(--color-neutral-very-dark-gray);
  opacity: 0.5;
}

.highlight {
  color: var(--color-neutral-black);
  display: inline-block;
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  margin-right: 0.5rem;
}

/*#endregion*/
/*#region Card Styles*/
.card {
  background-color: #ffffff;
  border-radius: var(--border-radius-default);
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: 1.5rem;
  padding: 1.5rem;
}

.card--disabled * {
  opacity: 0.5;
}

.pledge-recommendation {
  color: var(--color-primary-moderate-cyan);
  font-weight: var(--font-weight-medium);
  margin-top: 0.5rem;
}

.quantity-remaining {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9375rem;
  margin-top: 1.5rem;
}

.pledge-action {
  margin-top: 1.5rem;
}

/*#endregion*/
/*#region Project Info*/
.project {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.project__logo {
  position: absolute;
  top: -2rem;
}

.project__name {
  margin-top: 1.5rem;
  max-width: 18ch;
}

.project__actions {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.5rem;
}

.project__back-this {
  font-size: 1rem;
  margin-right: 0.5625rem;
  min-height: 3.5rem;
  min-width: 13.375rem;
}

.button__bookmark {
  background: rgba(122, 122, 122, 0.5);
  color: var(--color-neutral-dark-gray);
  height: 3.5rem;
  width: 3.5rem;
}

.bookmark-icon {
  background-color: var(--color-neutral-very-dark-gray);
  border-radius: 3.5rem;
  content: url(../images/icon-bookmark.svg);
}

.bookmark-label {
  display: none;
}

/*#endregion*/
/*#region Project Stats*/
.project__stats {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.project__stats .highlight {
  display: block;
  margin-bottom: 0.5625rem;
  margin-right: 0;
}

.project__stats-backers,
.project__stats-days-left,
.project__stats-funding-progress {
  margin-top: 1.5rem;
  position: relative;
}

.project__stats-funding-status::after,
.project__stats-backers::after {
  -ms-flex-item-align: center;
      align-self: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  content: "";
  display: block;
  margin: 1.5rem auto 0 auto;
  width: 5rem;
}

.project__stats-funding-progress {
  /*! Most of these settings affect the progress element for Firefox.
   * The background-color and border-radius style those parts of the
   * progress element in Firefox. The later declarations have specific callouts
   * for Webkit/Blink.
   *
   * The height and width affects all browsers once the defaults are disabled.
   */
  /*! Note:
   * I could not stack (separate the targets with a comma) the Firefox
   * and Webkit/Blink value styles. Doing so disabled the styles for
   * Webkit/Blink.
   */
  /*! Style the progress value for Firefox. */
  /*! Style the progress value for Webkit/Blink. */
  /*! Style the progress bar for Webkit/Blink. */
}
.project__stats-funding-progress progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: rgba(47, 47, 47, 0.05);
  border-radius: var(--border-radius-button);
  border: none;
  height: 0.75rem;
  width: 17.4375rem;
}
.project__stats-funding-progress progress[value]::-moz-progress-bar {
  background-color: var(--color-primary-moderate-cyan);
  border-radius: var(--border-radius-button);
  position: relative;
}
.project__stats-funding-progress progress[value]::-webkit-progress-value,
.project__stats-funding-progress progress::-webkit-progress-value {
  background-color: var(--color-primary-moderate-cyan);
  border-radius: var(--border-radius-button);
}
.project__stats-funding-progress progress[value]::-webkit-progress-bar {
  background-color: rgba(47, 47, 47, 0.05);
  border-radius: var(--border-radius-button);
}

/*#endregion*/
/*# sourceMappingURL=style.css.map */