/*#region Modern CSS Reset*/
/*
 * Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
 */
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests
  * default styling will be removed
  */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*#endregion*/
:root {
  --border-radius-button: 2.09375rem;
  --border-radius-default: 0.5em;
  --color-neutral-black: #000000;
  --color-neutral-dark-gray: #7a7a7a;
  --color-neutral-light-gray: #b1b1b1;
  --color-neutral-very-dark-gray: #2f2f2f;
  --color-primary-dark-cyan: #147a73;
  --color-primary-moderate-cyan: #3cb3ab;
  --font-family-commissioner: "Commissioner", sans-serif;
  --font-size-h1: 1.25rem;
  --font-size-h2: 1.125rem;
  --font-size-h3: 0.875rem;
  --font-size-text: 0.875rem;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
}

/*Medium Breakpoint: 768px*/
@media screen and (min-width: 48em) {
  :root {
    --font-size-h1: 1.75rem;
    --font-size-h2: 1.5rem;
    --font-size-h3: 1.125rem;
    --font-size-text: 1rem;
  }
}
/*#region Attribution*/
.attribution {
  font-size: 0.6875rem;
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

/*#endregion*/
/*#region Base Styles*/
body {
  background-color: #fafafa;
  color: var(--color-neutral-dark-gray);
  font-family: var(--font-family-commissioner);
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-regular);
  line-height: 1.5rem;
}

header {
  background-image: url(../images/image-hero-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 18.75rem;
}

@media screen and (min-width: 48em) {
  header {
    background-image: url(../images/image-hero-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 25rem;
  }
}
h1,
h2,
h3 {
  color: var(--color-neutral-black);
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

.project__stats,
.modal__container,
section {
  background-color: #ffffff;
  border-radius: var(--border-radius-default);
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin: 1.5rem;
  padding: 1.5rem;
}

@media screen and (min-width: 48em) {
  .project__stats,
.modal__container,
section {
    width: 45.625rem;
    margin: 1.5rem auto;
    padding: 3rem;
  }
}
p {
  margin-top: 1.5rem;
}

@media screen and (min-width: 48em) {
  p {
    margin-top: 1rem;
  }
}
.text-center {
  text-align: center;
}

.text-bold {
  font-weight: var(--font-weight-bold);
}

.text-black {
  color: var(--color-neutral-black);
}

.highlight {
  color: var(--color-neutral-black);
  display: inline-block;
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  margin-right: 0.5rem;
}

[v-cloak] {
  display: none;
}

/*#endregion*/
/*#region Button Base Styles*/
a.button {
  text-decoration: none;
}

button.button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
}
@media screen and (-ms-high-contrast: active) {
  button.button {
    border: 2px solid currentColor;
  }
}

a.button,
button.button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: var(--color-primary-moderate-cyan);
  border-radius: var(--border-radius-button);
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: var(--font-weight-bold);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 3rem;
  min-width: 9.8125rem;
  text-align: center;
  -webkit-transition: 220ms all ease-in-out;
  transition: 220ms all ease-in-out;
}
a.button:hover, a.button:active,
button.button:hover,
button.button:active {
  background-color: var(--color-primary-dark-cyan);
}
a.button:focus,
button.button:focus {
  -webkit-box-shadow: 0 0 0 4px var(--color-primary-dark-cyan);
          box-shadow: 0 0 0 4px var(--color-primary-dark-cyan);
  outline-color: transparent;
  outline-style: solid;
}
a.button.button__primary, a.button.button__secondary,
button.button.button__primary,
button.button.button__secondary {
  padding: 1rem 2rem;
}
a.button.button__secondary,
button.button.button__secondary {
  background: var(--color-neutral-dark-gray);
}
a.button.button__secondary:hover, a.button.button__secondary:active,
button.button.button__secondary:hover,
button.button.button__secondary:active {
  background: var(--color-neutral-very-dark-gray);
  opacity: 0.5;
}
a.button.button__secondary:focus,
button.button.button__secondary:focus {
  -webkit-box-shadow: 0 0 0 4px var(--color-neutral-very-dark-gray);
          box-shadow: 0 0 0 4px var(--color-neutral-very-dark-gray);
  outline-color: transparent;
  outline-style: solid;
}
a.button.flex-start,
button.button.flex-start {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
a.button.flex-center,
button.button.flex-center {
  -ms-flex-item-align: center;
      align-self: center;
}
a.button.flex-end,
button.button.flex-end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

/*#endregion*/
/*#region Navigation*/
.navbar .container {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 1.5rem;
  padding-top: 2rem;
}

/*Large Breakpoint: 992px*/
@media screen and (min-width: 62em) {
  .navbar .container,
.navbar .menu {
    padding-top: 3rem;
  }
  .navbar .container {
    margin-left: 3.58rem;
  }
  .navbar .menu {
    margin-left: auto;
    margin-right: 3.58rem;
  }
}
/*Extra large Breakpoint: 1200px*/
@media screen and (min-width: 75em) {
  .navbar .container {
    margin-left: 10.375rem;
  }
  .navbar .menu {
    margin-right: 10.375rem;
  }
}
.navbar__brand {
  text-decoration: none;
  white-space: nowrap;
}
.navbar__brand:hover, .navbar__brand:focus {
  text-decoration: underline;
}

.navbar__toggler-icon {
  background-image: url(../images/icon-hamburger.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  display: inline-block;
  height: 0.9375rem;
  width: 1rem;
}

.navbar__toggler {
  background-color: transparent;
  border: 1px solid transparent;
  line-height: 1;
  padding-inline: 0;
}
.navbar__toggler:hover, .navbar__toggler:focus {
  text-decoration: none;
}
.navbar__toggler:focus {
  outline: #ffffff solid 1px;
}
.navbar__toggler[aria-expanded=true] .navbar__toggler-icon {
  background-image: url(../images/icon-close-menu.svg);
}

.overlay {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}

.menu {
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #fff;
  border-radius: var(--border-radius-default);
  border: 1px solid rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 1.5rem 0 1.5rem;
  opacity: 1;
  z-index: 3;
}
.menu .menu__item {
  color: var(--color-neutral-black);
  display: inline-block;
  font-size: 1.125rem;
  font-weight: var(--font-weight-medium);
  padding: 1.5rem;
  text-decoration: none;
}
.menu .menu__item:hover, .menu .menu__item:focus {
  text-decoration: underline;
}
.menu .menu__item:not(:last-child) {
  border-bottom: 1px solid rgba(47, 47, 47, 0.1);
}

.hidden {
  display: none;
}

/*Large Breakpoint: 992px*/
@media screen and (min-width: 62em) {
  .navbar__toggler {
    display: none;
  }

  .hidden {
    display: initial;
  }

  .navbar > div {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
  }

  .menu {
    background-color: initial;
    border-radius: 0;
    border: none;
  }
  .menu .menu__item {
    border: none;
    color: #fff;
    font-size: 0.8125rem;
    font-weight: var(--font-weight-medium);
    padding-left: 1rem;
  }
  .menu .menu__item:not(:last-child) {
    border: none;
    padding-right: 1rem;
  }
  .menu .menu__item:last-child {
    padding-right: 0;
  }
}
/*#endregion*/
/*#region Project Info*/
.project {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -3.5rem;
  padding-bottom: 2.5rem;
  position: relative;
}

@media screen and (min-width: 48em) {
  .project {
    padding-top: 3.5rem;
    padding-bottom: 3rem;
    margin-top: -5.5rem;
  }
}
.project__logo {
  position: absolute;
  top: -2rem;
}

.project__name {
  margin-top: 1.5rem;
  max-width: 18ch;
}

@media screen and (min-width: 48em) {
  .project__name {
    margin-top: 1.5rem;
    max-width: 100%;
  }
}
.project__actions {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.5rem;
}

@media screen and (min-width: 48em) {
  .project__actions {
    margin-top: 2.5rem;
    width: 100%;
  }
}
.project__back-this {
  font-size: 1rem;
  margin-right: 0.5625rem;
  min-height: 3.5rem;
  min-width: 13.375rem;
}

.bookmark-icon__circle-fill {
  fill: var(--color-neutral-very-dark-gray);
}

.bookmark-icon__path-fill {
  fill: var(--color-neutral-light-gray);
}

button.button__bookmark {
  background: rgba(47, 47, 47, 0.05);
  color: var(--color-neutral-dark-gray);
  min-height: 3.5rem;
  min-width: 3.5rem;
}
button.button__bookmark:hover, button.button__bookmark:active {
  background: rgba(47, 47, 47, 0.05);
}
button.button__bookmark:hover .bookmark-icon__circle-fill, button.button__bookmark:active .bookmark-icon__circle-fill {
  fill: var(--color-neutral-dark-gray);
}
button.button__bookmark:focus {
  -webkit-box-shadow: 0 0 0 2px var(--color-neutral-dark-gray);
          box-shadow: 0 0 0 2px var(--color-neutral-dark-gray);
  outline-color: transparent;
  outline-style: solid;
}
button.button__bookmark.bookmarked {
  color: var(--color-primary-dark-cyan);
}
button.button__bookmark.bookmarked .bookmark-icon__circle-fill {
  fill: var(--color-primary-dark-cyan);
}
button.button__bookmark.bookmarked .bookmark-icon__path-fill {
  fill: #ffffff;
}
button.button__bookmark.bookmarked:focus {
  -webkit-box-shadow: 0 0 0 2px var(--color-primary-dark-cyan);
          box-shadow: 0 0 0 2px var(--color-primary-dark-cyan);
}

.bookmark-label {
  display: none;
}

@media screen and (min-width: 48em) {
  button.button__bookmark {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    min-width: 10.875rem;
  }
  button.button__bookmark.bookmarked {
    min-width: 11.875rem;
  }

  .bookmark-label {
    display: initial;
    margin-left: 1rem;
  }
}
/*#endregion*/
/*#region Project Stats*/
.project__stats {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 2.5rem;
  padding-top: 2rem;
  text-align: center;
}
.project__stats .highlight {
  display: block;
  margin-bottom: 0.5625rem;
  margin-right: 0;
}

.project__stats-backers,
.project__stats-days-left,
.project__stats-funding-progress {
  margin-top: 1.5rem;
  position: relative;
}

.project__stats-funding-status::after,
.project__stats-backers::after {
  -ms-flex-item-align: center;
      align-self: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  content: "";
  display: block;
  margin: 1.5rem auto 0 auto;
  width: 5rem;
}

@media screen and (min-width: 48em) {
  .project__stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem;
  }

  .project__stats-funding-progress {
    grid-area: 2/1/3/-1;
    margin-top: 2.3125rem;
  }

  .project__stats-funding-status,
.project__stats-backers,
.project__stats-days-left {
    margin-top: 0;
    position: static;
  }

  .project__stats-funding-status,
.project__stats-backers {
    border-right: 1px solid rgba(0, 0, 0, 0.15);
  }

  .project__stats-funding-status::after,
.project__stats-backers::after {
    border-bottom: none;
    content: "";
    display: inline;
    margin: 0;
  }
}
/* Most of these settings affect the progress element for Firefox.
 * The background-color and border-radius style those parts of the
 * progress element in Firefox. The later declarations have specific callouts
 * for Webkit/Blink.
 *
 * The height and width affects all browsers once the defaults are disabled.
 */
.project__stats-funding-progress progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: rgba(47, 47, 47, 0.05);
  border-radius: var(--border-radius-button);
  border: none;
  height: 0.75rem;
  width: 17.4375rem;
}

@media screen and (min-width: 48em) {
  .project__stats-funding-progress progress[value] {
    width: 100%;
  }
}
/* Note:
 * I could not stack (separate the targets with a comma) the Firefox
 * and Webkit/Blink value styles. Doing so disabled the styles for
 * Webkit/Blink.
 */
/* Style the progress value for Firefox. */
.project__stats-funding-progress progress[value]::-moz-progress-bar {
  background-color: var(--color-primary-moderate-cyan);
  border-radius: var(--border-radius-button);
  position: relative;
}

/* Style the progress value for Webkit/Blink. */
.project__stats-funding-progress progress[value]::-webkit-progress-value,
.project__stats-funding-progress progress::-webkit-progress-value {
  background-color: var(--color-primary-moderate-cyan);
  border-radius: var(--border-radius-button);
}

/* Style the progress bar for Webkit/Blink. */
.project__stats-funding-progress progress[value]::-webkit-progress-bar {
  background-color: rgba(47, 47, 47, 0.05);
  border-radius: var(--border-radius-button);
}

/*#endregion*/
/*#region Project Details*/
.project__details {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.project__details > p:last-of-type {
  padding-bottom: 0.6875rem;
}

@media screen and (min-width: 48em) {
  .project__details {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .project__details > p:last-of-type {
    padding-bottom: 1rem;
  }
}
/*#endregion*/
/*#region Card Styles*/
.card {
  background-color: #ffffff;
  border-radius: var(--border-radius-default);
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: 1.5rem;
  padding: 1.5rem;
}

.pledge-recommendation {
  color: var(--color-primary-moderate-cyan);
  font-weight: var(--font-weight-medium);
  margin-top: 0.5rem;
}

@media screen and (min-width: 48em) {
  .card {
    padding: 2.375rem 2rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .pledge-recommendation {
    margin-top: 0;
    font-size: 0.9375rem;
  }

  .card__header,
.card__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .card__body {
    margin-top: 0.5rem;
  }
}
.card--disabled * {
  opacity: 0.5;
}

.quantity-remaining {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9375rem;
  margin-top: 1.5rem;
}

.pledge-action {
  margin-top: 1.5rem;
}

/*#endregion*/
/*#region Modal*/
.modal__container {
  padding-top: 2rem;
  z-index: 3;
}

@media screen and (min-width: 48em) {
  .modal__container {
    padding-top: 3rem;
  }
}
.modal__overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100vh;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}

.modal__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal__close-icon {
  cursor: pointer;
  display: inline-block;
  height: 0.884rem;
  width: 0.884rem;
}

.modal__close-icon--path {
  fill: rgba(0, 0, 0, 0.4);
}
.modal__close-icon--path:hover {
  fill: black;
}

.modal__close {
  background-color: transparent;
  border: 1px solid transparent;
  line-height: 1;
  padding-inline: 0;
}
.modal__close:hover, .modal__close:focus {
  text-decoration: none;
}
.modal__close:focus {
  outline: var(--color-neutral-light-gray) solid 1px;
}

.pledge-modal {
  margin-top: 7.5625rem;
}

.thankyou-modal {
  margin-top: 8.9375rem;
}

.thankyou-modal .modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.thankyou-modal .modal__content h2 {
  margin-top: 1.5rem;
}
.thankyou-modal .modal__content a.button,
.thankyou-modal .modal__content button.button {
  min-width: 6.6875rem;
  margin-top: 1.5rem;
}

.complete-image {
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 64px;
  width: 64px;
}

@media screen and (min-width: 48em) {
  .thankyou-modal {
    width: 33.75rem;
  }
  .thankyou-modal .modal__content h2 {
    font-size: 1.5rem;
    margin-top: 2.96875rem;
  }
  .thankyou-modal .modal__content p {
    line-height: 1.875;
  }
  .thankyou-modal .modal__content a.button,
.thankyou-modal .modal__content button.button {
    margin-top: 2rem;
  }

  .complete-image {
    height: 90px;
    width: 90px;
  }
}
.form__card {
  background-color: #ffffff;
  border-radius: var(--border-radius-default);
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: 1.5rem;
  padding-bottom: 2rem;
}
.form__card--disabled * {
  opacity: 0.8;
}
.form__card.selected, .form__card:focus-within {
  border: 2px solid var(--color-primary-moderate-cyan);
}
.form__card .pledge-recommendation {
  display: block;
  margin: 0;
}
.form__card .highlight {
  font-size: 1.125rem;
}
.form__card .form__control,
.form__card .form__text,
.form__card .quantity-remaining {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.form__card .form__control {
  padding-top: 2rem;
}
.form__card .radio {
  color: var(--color-primary-moderate-cyan);
  display: grid;
  font-size: 0.875rem;
  grid-gap: 1rem;
  grid-template-columns: -webkit-min-content auto;
  grid-template-columns: min-content auto;
}
.form__card .radio:hover *, .form__card .radio:focus * {
  color: var(--color-primary-moderate-cyan);
}
.form__card .radio:hover * .radio__control, .form__card .radio:focus * .radio__control {
  border: 0.1rem solid var(--color-primary-moderate-cyan);
}
.form__card .radio:focus-within .radio__label {
  opacity: 1;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.form__card .radio__label {
  line-height: 1.5;
}
.form__card .radio__input {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__card .radio__input input {
  height: 0;
  opacity: 0;
  width: 0;
  margin-left: -0.5rem;
}
.form__card .radio__input input:focus + .radio__control {
  -webkit-box-shadow: 0 0 0 0.05rem currentColor, 0 0 0.15rem 0.1rem currentColor;
          box-shadow: 0 0 0 0.05rem currentColor, 0 0 0.15rem 0.1rem currentColor;
}
.form__card .radio-before .radio__control {
  display: grid;
  place-items: center;
}
.form__card .radio-before input + .radio__control::before {
  border-radius: 50%;
  -webkit-box-shadow: inset 0.75rem 0.75rem currentColor;
          box-shadow: inset 0.75rem 0.75rem currentColor;
  content: "";
  height: 0.75rem;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 180ms -webkit-transform ease-in-out;
  transition: 180ms -webkit-transform ease-in-out;
  transition: 180ms transform ease-in-out;
  transition: 180ms transform ease-in-out, 180ms -webkit-transform ease-in-out;
  width: 0.75rem;
}
.form__card .radio-before input:checked + .radio__control::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.form__card .radio__control {
  border-radius: 50%;
  border: 0.1rem solid rgba(0, 0, 0, 0.15);
  display: block;
  height: 1.5rem;
  -webkit-transform: translateY(-0.05rem);
          transform: translateY(-0.05rem);
  width: 1.5rem;
}
.form__card .quantity-remaining {
  padding-bottom: 2rem;
}
.form__card .selected-pledge {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: 1.5rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form__card .selected-pledge.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__card--disabled .selected-pledge {
  display: none;
}
.form__card--disabled .quantity-remaining {
  padding-bottom: 0;
}
.form__card .pledge__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}
.form__card a.button__primary,
.form__card button.button__primary {
  min-width: 7.1875rem;
  padding: 0;
}
.form__card input {
  caret-color: var(--color-primary-moderate-cyan);
}
.form__card .input-group {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: var(--border-radius-button);
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: inherit;
  font-size: 14px;
  font-size: max(14px, 1em);
  font-weight: var(--font-weight-bold);
  height: 3rem;
  padding-left: 1.5rem;
  width: 6.25rem;
}
.form__card .input-group .input-group-text {
  opacity: 0.25;
}
.form__card .input-group .input {
  background-color: transparent;
  border-radius: var(--border-radius-button);
  border: none;
  padding-left: 0.5rem;
  width: 3.5rem;
}
.form__card .input-group .input:focus {
  outline: none;
}
.form__card .input-group:focus-within {
  border-color: var(--color-primary-moderate-cyan);
}
.form__card .input-group + a.button, .form__card .input-group + button.button {
  margin-left: 1rem;
}

@media screen and (min-width: 48em) {
  .form__card {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 8rem;
    grid-template-rows: repeat(3, Max(-webkit-min-content, 1fr));
    grid-template-rows: repeat(3, Max(min-content, 1fr));
  }
  .form__card > .form__control {
    grid-area: 1/1/2/2;
    padding-left: 1.75rem;
    padding-right: 0;
    align-self: center;
  }
  .form__card > .form__text {
    grid-area: 2/1/3/-1;
  }
  .form__card > .quantity-remaining {
    grid-area: 1/2/2/-1;
  }
  .form__card > .selected-pledge {
    grid-area: 3/1/4/-1;
  }
  .form__card .form__text {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    margin-left: 3rem;
  }
  .form__card .quantity-remaining {
    padding: 2rem 1.75rem 0 0;
    margin: 0;
    justify-self: end;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .form__card .pledge-recommendation {
    display: inline-block;
    margin-left: 1rem;
  }
  .form__card .selected-pledge {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 1.75rem;
    margin-top: 2rem;
  }
  .form__card .pledge__control {
    margin-top: 0;
  }
  .form__card .radio {
    grid-gap: 1.75rem;
  }
}
/*#endregion*/
/*# sourceMappingURL=style.css.map */