/*#region Modern CSS Reset*/
/*
 * Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
 */
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests
  * default styling will be removed
  */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*#endregion*/
:root {
  --border-radius-button: 2.09375rem;
  --border-radius-default: 0.5em;
  --color-neutral-black: #000000;
  --color-neutral-dark-gray: #7a7a7a;
  --color-neutral-light-gray: #b1b1b1;
  --color-neutral-very-dark-gray: #2f2f2f;
  --color-primary-dark-cyan: #147a73;
  --color-primary-moderate-cyan: #3cb3ab;
  --font-family-commissioner: "Commissioner", sans-serif;
  --font-size-h1: 1.25rem;
  --font-size-h2: 1.125rem;
  --font-size-h3: 0.875rem;
  --font-size-text: 0.875rem;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
}

/*#region Attribution*/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

/*#endregion*/
/*#region Base Styles*/
body {
  background-color: #fafafa;
  color: var(--color-neutral-dark-gray);
  font-family: var(--font-family-commissioner);
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-regular);
  line-height: 1.5rem;
}

header {
  background-image: url(../images/image-hero-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 18.75rem;
}

h1,
h2,
h3 {
  color: var(--color-neutral-black);
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

.modal__container,
section {
  background-color: #ffffff;
  border-radius: var(--border-radius-default);
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin: 1.5rem;
  padding: 1.5rem;
}

p {
  margin-top: 1.5rem;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: var(--font-weight-bold);
}

.text-black {
  color: var(--color-neutral-black);
}

.button {
  border: none;
  border-radius: var(--border-radius-button);
  color: #ffffff;
  display: inline-block;
  font-weight: var(--font-weight-bold);
  text-align: center;
  text-decoration: none;
}

.button__primary,
.button__secondary {
  min-height: 3rem;
  min-width: 9.8125rem;
  padding: 1rem 2rem;
}

.button__primary {
  background: var(--color-primary-moderate-cyan);
}
.button__primary:hover, .button__primary:focus {
  background: var(--color-primary-dark-cyan);
}

.button__secondary {
  background: var(--color-neutral-dark-gray);
}
.button__secondary:hover, .button__secondary:focus {
  background: var(--color-neutral-very-dark-gray);
  opacity: 0.5;
}

.highlight {
  color: var(--color-neutral-black);
  display: inline-block;
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  margin-right: 0.5rem;
}

/*#endregion*/
/*#region Navigation*/
.navbar .container {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 1.5rem;
  padding-top: 2rem;
}

.navbar__brand {
  text-decoration: none;
  white-space: nowrap;
}
.navbar__brand:hover, .navbar__brand:focus {
  text-decoration: underline;
}

.navbar__toggler-icon {
  background-image: url(../images/icon-hamburger.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  display: inline-block;
  height: 0.9375rem;
  width: 1rem;
}

.navbar__toggler {
  background-color: transparent;
  border: 1px solid transparent;
  line-height: 1;
  padding-inline: 0;
}
.navbar__toggler:hover, .navbar__toggler:focus {
  text-decoration: none;
}
.navbar__toggler:focus {
  outline: #ffffff solid 1px;
}
.navbar__toggler[aria-expanded=true] .navbar__toggler-icon {
  background-image: url(../images/icon-close-menu.svg);
}

.overlay {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}

.menu {
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #fff;
  border-radius: var(--border-radius-default);
  border: 1px solid rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 1.5rem 0 1.5rem;
  opacity: 1;
  z-index: 3;
}
.menu .menu__item {
  color: var(--color-neutral-black);
  display: inline-block;
  font-size: 1.125rem;
  font-weight: var(--font-weight-medium);
  padding: 1.5rem;
  text-decoration: none;
}
.menu .menu__item:hover, .menu .menu__item:focus {
  text-decoration: underline;
}
.menu .menu__item:not(:last-child) {
  border-bottom: 1px solid rgba(47, 47, 47, 0.1);
}

/*#endregion*/
/*#region Card Styles*/
.card {
  background-color: #ffffff;
  border-radius: var(--border-radius-default);
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: 1.5rem;
  padding: 1.5rem;
}

.card--disabled * {
  opacity: 0.5;
}

.pledge-recommendation {
  color: var(--color-primary-moderate-cyan);
  font-weight: var(--font-weight-medium);
  margin-top: 0.5rem;
}

.quantity-remaining {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9375rem;
  margin-top: 1.5rem;
}

.pledge-action {
  margin-top: 1.5rem;
}

/*#endregion*/
/*#region Project Info*/
.project {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -3.5rem;
  padding-bottom: 2.5rem;
  position: relative;
}

.project__logo {
  position: absolute;
  top: -2rem;
}

.project__name {
  margin-top: 1.5rem;
  max-width: 18ch;
}

.project__actions {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.5rem;
}

.project__back-this {
  font-size: 1rem;
  margin-right: 0.5625rem;
  min-height: 3.5rem;
  min-width: 13.375rem;
}

.button__bookmark {
  background: rgba(122, 122, 122, 0.5);
  color: var(--color-neutral-dark-gray);
  height: 3.5rem;
  width: 3.5rem;
}

.bookmark-icon {
  background-color: var(--color-neutral-very-dark-gray);
  border-radius: 3.5rem;
  content: url(../images/icon-bookmark.svg);
}

.bookmark-label {
  display: none;
}

/*#endregion*/
/*#region Project Stats*/
.project__stats {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 2.5rem;
  padding-top: 2rem;
  text-align: center;
}
.project__stats .highlight {
  display: block;
  margin-bottom: 0.5625rem;
  margin-right: 0;
}

.project__stats-backers,
.project__stats-days-left,
.project__stats-funding-progress {
  margin-top: 1.5rem;
  position: relative;
}

.project__stats-funding-status::after,
.project__stats-backers::after {
  -ms-flex-item-align: center;
      align-self: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  content: "";
  display: block;
  margin: 1.5rem auto 0 auto;
  width: 5rem;
}

/* Most of these settings affect the progress element for Firefox.
 * The background-color and border-radius style those parts of the
 * progress element in Firefox. The later declarations have specific callouts
 * for Webkit/Blink.
 *
 * The height and width affects all browsers once the defaults are disabled.
 */
.project__stats-funding-progress progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: rgba(47, 47, 47, 0.05);
  border-radius: var(--border-radius-button);
  border: none;
  height: 0.75rem;
  width: 17.4375rem;
}

/* Note:
 * I could not stack (separate the targets with a comma) the Firefox
 * and Webkit/Blink value styles. Doing so disabled the styles for
 * Webkit/Blink.
 */
/* Style the progress value for Firefox. */
.project__stats-funding-progress progress[value]::-moz-progress-bar {
  background-color: var(--color-primary-moderate-cyan);
  border-radius: var(--border-radius-button);
  position: relative;
}

/* Style the progress value for Webkit/Blink. */
.project__stats-funding-progress progress[value]::-webkit-progress-value,
.project__stats-funding-progress progress::-webkit-progress-value {
  background-color: var(--color-primary-moderate-cyan);
  border-radius: var(--border-radius-button);
}

/* Style the progress bar for Webkit/Blink. */
.project__stats-funding-progress progress[value]::-webkit-progress-bar {
  background-color: rgba(47, 47, 47, 0.05);
  border-radius: var(--border-radius-button);
}

/*#endregion*/
/*#region Project Details*/
.project__details {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.project__details p:last-of-type {
  padding-bottom: 0.6875rem;
}

/*#endregion*/
/*#region Modal*/
.modal__container {
  padding-top: 2rem;
  z-index: 3;
}

/*
.modal__overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100vh;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}
*/
.modal__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal__close-icon {
  background-image: url(../images/icon-close-modal.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  display: inline-block;
  height: 0.884rem;
  width: 0.884rem;
}

.modal__close {
  background-color: transparent;
  border: 1px solid transparent;
  line-height: 1;
  padding-inline: 0;
}
.modal__close:hover, .modal__close:focus {
  text-decoration: none;
}
.modal__close:focus {
  outline: var(--color-neutral-light-gray) solid 1px;
}

.pledge-modal {
  margin-top: 7.5625rem;
}

.thankyou-modal {
  margin-top: 8.9375rem;
}

.thankyou-modal .modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.thankyou-modal .modal__content h2 {
  margin-top: 1.5rem;
}
.thankyou-modal .modal__content .button {
  min-width: 6.6875rem;
  margin-top: 1.5rem;
}

.complete-image {
  background-image: url(../images/icon-check.svg);
  height: 64px;
  width: 64px;
}

.form__card {
  background-color: #ffffff;
  border-radius: var(--border-radius-default);
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: 1.5rem;
  padding-bottom: 2rem;
}
.form__card--disabled * {
  opacity: 0.8;
}
.form__card:focus-within {
  border: 2px solid var(--color-primary-moderate-cyan);
}
.form__card .pledge-recommendation {
  display: block;
  margin: 0;
}
.form__card .highlight {
  font-size: 1.125rem;
}
.form__card .form__control,
.form__card .form__text,
.form__card .quantity-remaining {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.form__card .form__control {
  padding-top: 2rem;
}
.form__card .radio {
  color: var(--color-primary-moderate-cyan);
  display: grid;
  font-size: 0.875rem;
  grid-gap: 1rem;
  grid-template-columns: -webkit-min-content auto;
  grid-template-columns: min-content auto;
}
.form__card .radio:focus-within .radio__label {
  opacity: 1;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.form__card .radio__label {
  line-height: 1.5;
}
.form__card .radio__input {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__card .radio__input input {
  height: 0;
  opacity: 0;
  width: 0;
  margin-left: -0.5rem;
}
.form__card .radio__input input:focus + .radio__control {
  -webkit-box-shadow: 0 0 0 0.05rem currentColor, 0 0 0.15rem 0.1rem currentColor;
          box-shadow: 0 0 0 0.05rem currentColor, 0 0 0.15rem 0.1rem currentColor;
}
.form__card .radio-before .radio__control {
  display: grid;
  place-items: center;
}
.form__card .radio-before input + .radio__control::before {
  border-radius: 50%;
  -webkit-box-shadow: inset 0.75rem 0.75rem currentColor;
          box-shadow: inset 0.75rem 0.75rem currentColor;
  content: "";
  height: 0.75rem;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 180ms -webkit-transform ease-in-out;
  transition: 180ms -webkit-transform ease-in-out;
  transition: 180ms transform ease-in-out;
  transition: 180ms transform ease-in-out, 180ms -webkit-transform ease-in-out;
  width: 0.75rem;
}
.form__card .radio-before input:checked + .radio__control::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.form__card .radio__control {
  border-radius: 50%;
  border: 0.1rem solid rgba(0, 0, 0, 0.15);
  display: block;
  height: 1.5rem;
  -webkit-transform: translateY(-0.05rem);
          transform: translateY(-0.05rem);
  width: 1.5rem;
}
.form__card .quantity-remaining {
  padding-bottom: 2rem;
}
.form__card .selected-pledge {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form__card--disabled .selected-pledge {
  display: none;
}
.form__card--disabled .quantity-remaining {
  padding-bottom: 0;
}
.form__card .pledge__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}
.form__card .button__primary {
  min-width: 7.1875rem;
  padding: 0;
}
.form__card .input-group {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: var(--border-radius-button);
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: inherit;
  font-size: 14px;
  font-size: max(14px, 1em);
  font-weight: var(--font-weight-bold);
  height: 3rem;
  padding-left: 1.5rem;
  width: 6.25rem;
}
.form__card .input-group .input-group-text {
  opacity: 0.25;
}
.form__card .input-group .input {
  background-color: transparent;
  border-radius: var(--border-radius-button);
  border: none;
  padding-left: 0.5rem;
  width: 3.5rem;
}
.form__card .input-group .input:focus {
  outline: none;
}
.form__card .input-group:focus-within {
  border-color: var(--color-primary-moderate-cyan);
}
.form__card .input-group + .button {
  margin-left: 1rem;
}

/*#endregion*/
/*# sourceMappingURL=style.css.map */