@charset "UTF-8";

/*#region Modern CSS Reset*/
/*
 * Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
 */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests
  * default styling will be removed
  */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*#endregion*/

:root {
  --border-radius-button: 2.09375rem;
  --border-radius-default: 0.5em;
  --color-neutral-black: #000000;
  --color-neutral-dark-gray: #7a7a7a;
  --color-neutral-light-gray: #b1b1b1;
  --color-neutral-very-dark-gray: #2f2f2f;
  --color-primary-dark-cyan: #147a73;
  --color-primary-moderate-cyan: #3cb3ab;
  --font-family-commissioner: "Commissioner", sans-serif;
  --font-size-h1: 1.25rem;
  --font-size-h2: 1.125rem;
  --font-size-h3: 0.875rem;
  --font-size-text: 0.875rem;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
}

/*Medium Breakpoint: 768px*/
@media screen and (min-width: 48em) {
  :root {
    --font-size-h1: 1.75rem;
    --font-size-h2: 1.5rem;
    --font-size-h3: 1.125rem;
    --font-size-text: 1rem;
  }
}

/*#region Attribution*/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
/*#endregion*/

/*#region Base Styles*/
body {
  background-color: #fafafa;
  color: var(--color-neutral-dark-gray);
  font-family: var(--font-family-commissioner);
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-regular);
  line-height: 1.5rem;
}

header {
  background-image: url(../images/image-hero-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 18.75rem;
}

@media screen and (min-width: 48em) {
  header {
    background-image: url(../images/image-hero-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 25rem;
  }
}

h1,
h2,
h3 {
  color: var(--color-neutral-black);
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

.modal__container,
section {
  background-color: #ffffff;
  border-radius: var(--border-radius-default);
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin: 1.5rem;
  padding: 1.5rem;
}

@media screen and (min-width: 48em) {
  .modal__container,
  section {
    width: 45.625rem;
    margin: 1.5rem auto;
    padding: 3rem;
  }
}

p {
  margin-top: 1.5rem;
}

@media screen and (min-width: 48em) {
  p {
    margin-top: 1rem;
  }
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: var(--font-weight-bold);
}

.text-black {
  color: var(--color-neutral-black);
}

.button {
  border: none;
  border-radius: var(--border-radius-button);
  color: #ffffff;
  display: inline-block;
  font-weight: var(--font-weight-bold);
  text-align: center;
  text-decoration: none;
}

.button__primary,
.button__secondary {
  min-height: 3rem;
  min-width: 9.8125rem;
  padding: 1rem 2rem;
}

.button__primary {
  background: var(--color-primary-moderate-cyan);

  &:hover,
  &:focus {
    background: var(--color-primary-dark-cyan);
  }
}

.button__secondary {
  background: var(--color-neutral-dark-gray);

  &:hover,
  &:focus {
    background: var(--color-neutral-very-dark-gray);
    opacity: 0.5;
  }
}

.highlight {
  color: var(--color-neutral-black);
  display: inline-block;
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  margin-right: 0.5rem;
}
/*#endregion*/

/*#region Navigation*/
.navbar {
  .container {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 1.5rem;
    padding-top: 2rem;
  }
}

/*Large Breakpoint: 992px*/
@media screen and (min-width: 62em) {
  .navbar {
    .container,
    .menu {
      padding-top: 3rem;
    }
    .container {
      margin-left: 3.58rem;
    }
    .menu {
      margin-left: auto;
      margin-right: 3.58rem;
    }
  }
}

/*Extra large Breakpoint: 1200px*/
@media screen and (min-width: 75em) {
  .navbar {
    .container {
      margin-left: 10.375rem;
    }
    .menu {
      margin-right: 10.375rem;
    }
  }
}

.navbar__brand {
  text-decoration: none;
  white-space: nowrap;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.navbar__toggler-icon {
  background-image: url(../images/icon-hamburger.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  display: inline-block;
  height: 0.9375rem;
  width: 1rem;
}

.navbar__toggler {
  background-color: transparent;
  border: 1px solid transparent;
  line-height: 1;
  padding-inline: 0;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:focus {
    outline: #ffffff solid 1px;
  }

  &[aria-expanded="true"] {
    .navbar__toggler-icon {
      background-image: url(../images/icon-close-menu.svg);
    }
  }
}

.overlay {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}

.menu {
  align-content: center;
  background-color: #fff;
  border-radius: var(--border-radius-default);
  border: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  margin: 2rem 1.5rem 0 1.5rem;
  opacity: 1;
  z-index: 3;

  .menu__item {
    color: var(--color-neutral-black);
    display: inline-block;
    font-size: 1.125rem;
    font-weight: var(--font-weight-medium);
    padding: 1.5rem;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .menu__item:not(:last-child) {
    border-bottom: 1px solid rgb(47, 47, 47, 0.1);
  }
}

.hidden {
  display: none;
}

/*Large Breakpoint: 992px*/
@media screen and (min-width: 62em) {
  .navbar__toggler {
    display: none;
  }

  .hidden {
    display: initial;
  }

  .navbar > div {
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    display: flex;
    align-content: center;
  }

  .menu {
    background-color: initial;
    border-radius: 0;
    border: none;

    .menu__item {
      border: none;
      color: #fff;
      font-size: 0.8125rem;
      font-weight: var(--font-weight-medium);
      padding-left: 1rem;
    }

    .menu__item:not(:last-child) {
      border: none;
      padding-right: 1rem;
    }

    .menu__item:last-child {
      padding-right: 0;
    }
  }
}
/*#endregion*/

/*#region Project Info*/
.project {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: -3.5rem;
  padding-bottom: 2.5rem;
  position: relative;
}

@media screen and (min-width: 48em) {
  .project {
    padding-top: 3.5rem;
    padding-bottom: 3rem;
    margin-top: -5.5rem;
  }
}

.project__logo {
  position: absolute;
  top: -2rem;
}

.project__name {
  margin-top: 1.5rem;
  max-width: 18ch;
}

@media screen and (min-width: 48em) {
  .project__name {
    margin-top: 1.5rem;
    max-width: 100%;
  }
}

.project__actions {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

@media screen and (min-width: 48em) {
  .project__actions {
    margin-top: 2.5rem;
    width: 100%;
  }
}

.project__back-this {
  font-size: 1rem;
  margin-right: 0.5625rem;
  min-height: 3.5rem;
  min-width: 13.375rem;
}

.button__bookmark {
  background: rgba(47, 47, 47, 0.05);
  color: var(--color-neutral-dark-gray);
  height: 3.5rem;
  width: 3.5rem;
}

.bookmark-icon {
  background-color: var(--color-neutral-very-dark-gray);
  border-radius: 3.5rem;
  content: url(../images/icon-bookmark.svg);
}

.bookmark-label {
  display: none;
}

@media screen and (min-width: 48em) {
  .button__bookmark {
    display: flex;
    align-items: center;
    width: 10.875rem;

    &:hover,
    &:focus {
      .bookmark-icon {
        background-color: var(--color-neutral-dark-gray);
      }
    }
  }
  .bookmark-label {
    display: initial;
    margin-left: 1rem;
  }
}

/*#endregion*/

/*#region Project Stats*/
.project__stats {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 2.5rem;
  padding-top: 2rem;
  text-align: center;

  .highlight {
    display: block;
    margin-bottom: 0.5625rem;
    margin-right: 0;
  }
}

// .project__stats-funding-status,
.project__stats-backers,
.project__stats-days-left,
.project__stats-funding-progress {
  margin-top: 1.5rem;
  position: relative;
}

.project__stats-funding-status::after,
.project__stats-backers::after {
  align-self: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  content: "";
  display: block;
  margin: 1.5rem auto 0 auto;
  width: 5rem;
}

@media screen and (min-width: 48em) {
  .project__stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem;
  }

  .project__stats-funding-progress {
    grid-area: 2 / 1 / 3 / -1;
    margin-top: 2.3125rem;
  }

  .project__stats-funding-status,
  .project__stats-backers,
  .project__stats-days-left {
    margin-top: 0;
    position: static;
  }

  .project__stats-funding-status,
  .project__stats-backers {
    border-right: 1px solid rgba(0, 0, 0, 0.15);
  }

  .project__stats-funding-status::after,
  .project__stats-backers::after {
    border-bottom: none;
    content: "";
    display: inline;
    margin: 0;
  }
}

/* Most of these settings affect the progress element for Firefox.
 * The background-color and border-radius style those parts of the
 * progress element in Firefox. The later declarations have specific callouts
 * for Webkit/Blink.
 *
 * The height and width affects all browsers once the defaults are disabled.
 */
.project__stats-funding-progress progress[value] {
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(47, 47, 47, 0.05);
  border-radius: var(--border-radius-button);
  border: none;
  height: 0.75rem;
  width: 17.4375rem;
}

@media screen and (min-width: 48em) {
  .project__stats-funding-progress progress[value] {
    width: 100%;
  }
}

/* Note:
 * I could not stack (separate the targets with a comma) the Firefox
 * and Webkit/Blink value styles. Doing so disabled the styles for
 * Webkit/Blink.
 */

/* Style the progress value for Firefox. */
.project__stats-funding-progress progress[value]::-moz-progress-bar {
  background-color: var(--color-primary-moderate-cyan);
  border-radius: var(--border-radius-button);
  position: relative;
}

/* Style the progress value for Webkit/Blink. */
.project__stats-funding-progress progress[value]::-webkit-progress-value,
.project__stats-funding-progress progress::-webkit-progress-value {
  background-color: var(--color-primary-moderate-cyan);
  border-radius: var(--border-radius-button);
}

/* Style the progress bar for Webkit/Blink. */
.project__stats-funding-progress progress[value]::-webkit-progress-bar {
  background-color: rgba(47, 47, 47, 0.05);
  border-radius: var(--border-radius-button);
}
/*#endregion*/

/*#region Project Details*/
.project__details {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  & > p:last-of-type {
    padding-bottom: 0.6875rem;
  }
}

@media screen and (min-width: 48em) {
  .project__details {
    padding-top: 3rem;
    padding-bottom: 3rem;

    & > p:last-of-type {
      padding-bottom: 1rem;
    }
  }
}

/*#endregion*/

/*#region Card Styles*/
.card {
  background-color: #ffffff;
  border-radius: var(--border-radius-default);
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: 1.5rem;
  padding: 1.5rem;
}

.pledge-recommendation {
  color: var(--color-primary-moderate-cyan);
  font-weight: var(--font-weight-medium);
  margin-top: 0.5rem;
}

@media screen and (min-width: 48em) {
  .card {
    padding: 2.375rem 2rem 2rem;
    display: flex;
    flex-direction: column;
  }

  .pledge-recommendation {
    margin-top: 0;
    font-size: 0.9375rem;
  }

  .card__header,
  .card__footer {
    display: flex;
    justify-content: space-between;
  }

  .card__body {
    margin-top: 0.5rem;
  }
}

.card--disabled * {
  opacity: 0.5;
}

.quantity-remaining {
  align-items: center;
  display: flex;
  font-size: 0.9375rem;
  margin-top: 1.5rem;
}

.pledge-action {
  margin-top: 1.5rem;
}
/*#endregion*/

/*#region Modal*/
.modal__container {
  padding-top: 2rem;
  z-index: 3;
}

@media screen and (min-width: 48em) {
  .modal__container {
    padding-top: 3rem;
  }
}

/*
.modal__overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100vh;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}
*/

.modal__heading {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.modal__close-icon {
  background-image: url(../images/icon-close-modal.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  display: inline-block;
  height: 0.884rem;
  width: 0.884rem;
}

.modal__close {
  background-color: transparent;
  border: 1px solid transparent;
  line-height: 1;
  padding-inline: 0;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:focus {
    outline: var(--color-neutral-light-gray) solid 1px;
  }
}

.pledge-modal {
  margin-top: 7.5625rem;
}

.thankyou-modal {
  margin-top: 8.9375rem;
}

.thankyou-modal .modal__content{
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-top: 1.5rem;
  }

  .button {
    min-width: 6.6875rem;
    margin-top: 1.5rem;
  }
}

.complete-image {
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 64px;
  width: 64px;
}

@media screen and (min-width: 48em) {
  .thankyou-modal {
    width: 33.75rem;

    .modal__content {
      & h2 {
        font-size: 1.5rem;
        margin-top: 2.96875rem;
      }

      p {
        line-height: 1.875;
      }

      .button {
        margin-top: 2rem;
      }
    }
  }

  .complete-image {
    height: 90px;
    width: 90px;
  }
}


.form__card {
  background-color: #ffffff;
  border-radius: var(--border-radius-default);
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: 1.5rem;
  padding-bottom: 2rem;

  &--disabled * {
    opacity: 0.8;
  }

  &:focus-within {
    border: 2px solid var(--color-primary-moderate-cyan);
  }

  .pledge-recommendation {
    display: block;
    margin: 0;
  }

  .highlight {
    font-size: 1.125rem;
  }

  .form__control,
  .form__text,
  .quantity-remaining {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .form__control {
    padding-top: 2rem;
  }

  .radio {
    color: var(--color-primary-moderate-cyan);
    display: grid;
    font-size: 0.875rem;
    grid-gap: 1rem;
    grid-template-columns: min-content auto;

    &:focus-within {
      .radio__label {
        opacity: 1;
        transform: scale(1.05);
      }
    }
  }

  .radio__label {
    line-height: 1.5;
    // transition: 180ms all ease-in-out;
  }

  .radio__input {
    align-items: center;
    display: flex;

    input {
      height: 0;
      opacity: 0;
      width: 0;
      margin-left: -0.5rem;

      &:focus + .radio__control {
        box-shadow: 0 0 0 0.05rem currentColor, 0 0 0.15rem 0.1rem currentColor;
      }
    }
  }

  .radio-before {
    .radio__control {
      display: grid;
      place-items: center;
    }

    input + .radio__control::before {
      border-radius: 50%;
      box-shadow: inset 0.75rem 0.75rem currentColor;
      content: "";
      height: 0.75rem;
      transform: scale(0);
      transition: 180ms transform ease-in-out;
      width: 0.75rem;
    }

    input:checked + .radio__control::before {
      transform: scale(1);
    }
  }

  .radio__control {
    border-radius: 50%;
    border: 0.1rem solid rgba(0, 0, 0, 0.15);
    display: block;
    height: 1.5rem;
    transform: translateY(-0.05rem);
    width: 1.5rem;
  }

  .quantity-remaining {
    padding-bottom: 2rem;
  }

  .selected-pledge {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--disabled .selected-pledge {
    display: none;
  }

  &--disabled .quantity-remaining {
    padding-bottom: 0;
  }

  .pledge__control {
    display: flex;
    margin-top: 1rem;
  }

  .button__primary {
    min-width: 7.1875rem;
    padding: 0;
  }

  .input-group {
    align-items: center;
    background-color: #fff;
    border-radius: var(--border-radius-button);
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
    font-family: inherit;
    font-size: 14px;
    font-size: max(14px, 1em);
    font-weight: var(--font-weight-bold);
    height: 3rem;
    padding-left: 1.5rem;
    width: 6.25rem;

    .input-group-text {
      opacity: 0.25;
    }

    .input {
      background-color: transparent;
      border-radius: var(--border-radius-button);
      border: none;
      padding-left: 0.5rem;
      width: 3.5rem;

      &:focus {
        outline: none;
      }
    }

    &:focus-within {
        border-color: var(--color-primary-moderate-cyan);
    }

    & + .button {
      margin-left: 1rem;
    }
  }
}

@media screen and (min-width: 48em) {
  .form__card {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 8rem;
    grid-template-rows: repeat(3, Max(min-content, 1fr));

    & > .form__control {
      grid-area: 1 / 1 / 2 / 2;
      padding-left: 1.75rem;
      padding-right: 0;
      align-self: center;
    }

    & > .form__text {
      grid-area: 2 / 1 / 3 / -1;
    }

    & > .quantity-remaining {
      grid-area: 1 / 2 / 2 / -1;
    }

    & > .selected-pledge {
      grid-area: 3 / 1 / 4 / -1;
    }

    .form__text {
      padding-left: 1.75rem;
      padding-right: 1.75rem;
      margin-left: 3rem;
    }

    .quantity-remaining {
      padding: 2rem 1.75rem 0 0;
      margin: 0;
      justify-self: end;
      align-self: center;
    }

    .pledge-recommendation {
      display: inline-block;
      margin-left: 1rem;
    }

    .selected-pledge {
      flex-direction: row;
      justify-content: space-between;
      padding-right: 1.75rem;
      margin-top: 2rem;
    }

    .pledge__control {
      margin-top: 0;
    }

    .radio {
      grid-gap: 1.75rem;
    }
  }
}
/*#endregion*/
