@charset "UTF-8";

/*#region Modern CSS Reset*/
/*
 * Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
 */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests
  * default styling will be removed
  */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*#endregion*/

:root {
  --border-radius-button: 2.09375rem;
  --border-radius-default: 0.5em;
  --color-neutral-black: #000000;
  --color-neutral-dark-gray: #7a7a7a;
  --color-neutral-light-gray: #b1b1b1;
  --color-neutral-very-dark-gray: #2f2f2f;
  --color-primary-dark-cyan: #147a73;
  --color-primary-moderate-cyan: #3cb3ab;
  --font-family-commissioner: "Commissioner", sans-serif;
  --font-size-h1: 1.25rem;
  --font-size-h2: 1.125rem;
  --font-size-h3: 0.875rem;
  --font-size-text: 0.875rem;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
}

/*#region Attribution*/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
/*#endregion*/

/*#region Base Styles*/
body {
  background-color: #fafafa;
  color: var(--color-neutral-dark-gray);
  font-family: var(--font-family-commissioner);
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-regular);
  line-height: 1.5rem;
}

header {
  background-image: url(../images/image-hero-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 18.75rem;
}

h1,
h2,
h3 {
  color: var(--color-neutral-black);
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

.modal__container,
section {
  background-color: #ffffff;
  border-radius: var(--border-radius-default);
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin: 1.5rem;
  padding: 1.5rem;
}

p {
  margin-top: 1.5rem;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: var(--font-weight-bold);
}

.text-black {
  color: var(--color-neutral-black);
}

.button {
  border: none;
  border-radius: var(--border-radius-button);
  color: #ffffff;
  display: inline-block;
  font-weight: var(--font-weight-bold);
  text-align: center;
  text-decoration: none;
}

.button__primary,
.button__secondary {
  min-height: 3rem;
  min-width: 9.8125rem;
  padding: 1rem 2rem;
}

.button__primary {
  background: var(--color-primary-moderate-cyan);

  &:hover,
  &:focus {
    background: var(--color-primary-dark-cyan);
  }
}

.button__secondary {
  background: var(--color-neutral-dark-gray);

  &:hover,
  &:focus {
    background: var(--color-neutral-very-dark-gray);
    opacity: 0.5;
  }
}

.highlight {
  color: var(--color-neutral-black);
  display: inline-block;
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  margin-right: 0.5rem;
}
/*#endregion*/

/*#region Navigation*/
.navbar {
  .container {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 1.5rem;
    padding-top: 2rem;
  }
}

.navbar__brand {
  text-decoration: none;
  white-space: nowrap;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.navbar__toggler-icon {
  background-image: url(../images/icon-hamburger.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  display: inline-block;
  height: 0.9375rem;
  width: 1rem;
}

.navbar__toggler {
  background-color: transparent;
  border: 1px solid transparent;
  line-height: 1;
  padding-inline: 0;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:focus {
    outline: #ffffff solid 1px;
  }

  &[aria-expanded="true"] {
    .navbar__toggler-icon {
      background-image: url(../images/icon-close-menu.svg);
    }
  }
}

.overlay {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}

.menu {
  align-content: center;
  background-color: #fff;
  border-radius: var(--border-radius-default);
  border: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  margin: 2rem 1.5rem 0 1.5rem;
  opacity: 1;
  z-index: 3;

  .menu__item {
    color: var(--color-neutral-black);
    display: inline-block;
    font-size: 1.125rem;
    font-weight: var(--font-weight-medium);
    padding: 1.5rem;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .menu__item:not(:last-child) {
    border-bottom: 1px solid rgb(47, 47, 47, 0.1);
  }
}
/*#endregion*/

/*#region Card Styles*/
.card {
  background-color: #ffffff;
  border-radius: var(--border-radius-default);
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: 1.5rem;
  padding: 1.5rem;
}

.card--disabled *,
.form__card--disabled * {
  opacity: 0.5;
}

.pledge-recommendation {
  color: var(--color-primary-moderate-cyan);
  font-weight: var(--font-weight-medium);
  margin-top: 0.5rem;
}

.quantity-remaining {
  align-items: center;
  display: flex;
  font-size: 0.9375rem;
  margin-top: 1.5rem;
}

.pledge-action {
  margin-top: 1.5rem;
}
/*#endregion*/

/*#region Project Info*/
.project {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: -3.5rem;
  padding-bottom: 2.5rem;
  position: relative;
}

.project__logo {
  position: absolute;
  top: -2rem;
}

.project__name {
  margin-top: 1.5rem;
  max-width: 18ch;
}

.project__actions {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.project__back-this {
  font-size: 1rem;
  margin-right: 0.5625rem;
  min-height: 3.5rem;
  min-width: 13.375rem;
}

.button__bookmark {
  background: rgba(122, 122, 122, 0.5);
  color: var(--color-neutral-dark-gray);
  height: 3.5rem;
  width: 3.5rem;
}

.bookmark-icon {
  background-color: var(--color-neutral-very-dark-gray);
  border-radius: 3.5rem;
  content: url(../images/icon-bookmark.svg);
}

.bookmark-label {
  display: none;
}
/*#endregion*/

/*#region Project Stats*/
.project__stats {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 2.5rem;
  padding-top: 2rem;
  text-align: center;

  .highlight {
    display: block;
    margin-bottom: 0.5625rem;
    margin-right: 0;
  }
}

// .project__stats-funding-status,
.project__stats-backers,
.project__stats-days-left,
.project__stats-funding-progress {
  margin-top: 1.5rem;
  position: relative;
}

.project__stats-funding-status::after,
.project__stats-backers::after {
  align-self: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  content: "";
  display: block;
  margin: 1.5rem auto 0 auto;
  width: 5rem;
}

/* Most of these settings affect the progress element for Firefox.
 * The background-color and border-radius style those parts of the
 * progress element in Firefox. The later declarations have specific callouts
 * for Webkit/Blink.
 *
 * The height and width affects all browsers once the defaults are disabled.
 */
.project__stats-funding-progress progress[value] {
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(47, 47, 47, 0.05);
  border-radius: var(--border-radius-button);
  border: none;
  height: 0.75rem;
  width: 17.4375rem;
}

/* Note:
 * I could not stack (separate the targets with a comma) the Firefox
 * and Webkit/Blink value styles. Doing so disabled the styles for
 * Webkit/Blink.
 */

/* Style the progress value for Firefox. */
.project__stats-funding-progress progress[value]::-moz-progress-bar {
  background-color: var(--color-primary-moderate-cyan);
  border-radius: var(--border-radius-button);
  position: relative;
}

/* Style the progress value for Webkit/Blink. */
.project__stats-funding-progress progress[value]::-webkit-progress-value,
.project__stats-funding-progress progress::-webkit-progress-value {
  background-color: var(--color-primary-moderate-cyan);
  border-radius: var(--border-radius-button);
}

/* Style the progress bar for Webkit/Blink. */
.project__stats-funding-progress progress[value]::-webkit-progress-bar {
  background-color: rgba(47, 47, 47, 0.05);
  border-radius: var(--border-radius-button);
}
/*#endregion*/

/*#region Project Details*/
.project__details {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  p:last-of-type {
    padding-bottom: 0.6875rem;
  }
}
/*#endregion*/

/*#region Modal*/
.modal__container {
  padding-top: 2rem;
}

.modal__heading {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.modal__close-icon {
  background-image: url(../images/icon-close-modal.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  display: inline-block;
  height: 0.884rem;
  width: 0.884rem;
}

.modal__close {
  background-color: transparent;
  border: 1px solid transparent;
  line-height: 1;
  padding-inline: 0;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:focus {
    outline: var(--color-neutral-light-gray) solid 1px;
  }
}

.form__card {
  background-color: #ffffff;
  border-radius: var(--border-radius-default);
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: 1.5rem;
  padding-bottom: 2rem;

  .pledge-recommendation {
    display: block;
  }

  .highlight {
    font-size: 1.125rem;
  }

  .form__control,
  .form__text,
  .quantity-remaining {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .form__control {
    padding-top: 2rem;
  }

  .quantity-remaining {
    padding-bottom: 2rem;
  }

  .selected-pledge {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    padding-top: 1.5rem;
  }

  .button__primary {
    min-width: 7.1875rem;
    padding: 0;
  }

  @supports (-webkit-appearance: none) or (-moz-appearance: none) or
    (appearance: none) {
    input[type="radio"] {
      --border: rgba(0, 0, 0, 0.15);
      --background: #ffffff;
      --focus: var(--color-primary-moderate-cyan);
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: var(--b, var(--background));
      border-radius: 50%;
      border: 1px solid var(--bc, var(--border));
      cursor: pointer;
      display: inline-block;
      height: 1.5rem;
      margin: 0;
      outline: none;
      position: relative;
      transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
      vertical-align: middle;
      width: 1.5rem;

      &:after {
        background: var(--color-primary-moderate-cyan);
        border-radius: 50%;
        content: "";
        display: block;
        height: 0.75rem;
        left: 0.3125rem;
        opacity: var(--o, 0);
        position: absolute;
        top: 0.3215rem;
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
          opacity var(--d-o, 0.2s);
        width: 0.75rem;
      }

      &:checked {
        --s: 0.5;
        --b: #ffffff;
        --bc: rgba(0, 0, 0, 0.15);
        --d-o: 0.3s;
        --d-t: 0.6s;
        --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
        --o: 1;
      }

      &:disabled {
        --b: #fff;
        cursor: not-allowed;
        opacity: 0.5;
        &:checked {
          --b: var(--color-primary-moderate-cyan);
          --bc: rgba(0, 0, 0, 0.15);
        }
        & + label {
          cursor: not-allowed;
        }
      }

      &:hover {
        &:not(:checked) {
          &:not(:disabled) {
            --bc: var(--color-primary-moderate-cyan);
          }
        }
      }

      &:focus {
        box-shadow: 0 0 0 var(--focus);
      }

      & + label {
        cursor: pointer;
        display: inline-block;
        margin-left: 1rem;
        vertical-align: middle;

        &:hover {
          color: var(--color-primary-moderate-cyan);
          span {
            color: currentColor;
          }
        }
      }
    }
  }
}

/*#endregion*/
